html{
  height: 100%;

}
 *, *:before, *:after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }
body{
font-family: "Raleway",sans-serif;
color: white;
min-height: 100%;
}
 .navbar .logo {
     position: relative; /* positioning will be explained in a resource */
     left: 2rem;
.landing{
  background-color: rgb(58,23,63);
}
.navbar {
     padding: 0.5rem;
     background-color: rgb(101,18,95);
 }
 

 }
 
.selling li{
  display: inline-block;
  text-align: center;
  width: 25%;
}
.selling{
 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
}
.selling li:first-child{
  width: 25%;
}
.selling li:last-child{
  width: 25%;
}
 .point .point-title {
     font-size: 1.25rem;
 }
.selling li h5{
  font-size: 1.5em;
}
/* Medium and small screens (640px) */
 @media (min-width: 40rem) {
   /* Style information will go here */
 }
 
 /* Large screens (1024px) */
 @media (min-width: 64rem) {
   /* Style information will go here */
   ...
 /* Medium screens (640px) */
 @media (min-width: 40rem) {
     html { font-size: 112%; }
 }

 /* Large screens (1024px) */
 @media (min-width: 64rem) {
     html { font-size: 120%; }
 }
    .container {
     margin: 0 auto;
     max-width: 64rem;
 }
 
 /* Medium screens (640px) */
 @media (min-width: 40rem) {
     html { font-size: 112%; }
 }
    .container {
     margin: 0 auto;
     max-width: 64rem;
 }

 /* Medium screens (640px) */
 @media (min-width: 40rem) {
     html { font-size: 112%; }
 
     .column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
     }
 }
    /* Medium screens (640px) */
 @media (min-width: 40rem) {
     html { font-size: 112%; }

     .column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
     }
 
     .column.full { width: 100%; }
     .column.two-thirds { width: 66.7%; }
     .column.half { width: 50%; }
     .column.third { width: 33.3%; }
     .column.fourth { width: 25%; }
     .column.flow-opposite { float: right; }  
 }
